@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

p {
    font-family: "Indie Flower";
    font-weight: bold;
}

h3{
    font-family: "Titan One";
    font-weight: normal;
}

h4{
    font-family: "Concert One";
    font-weight: bold;
}

header{
    /* text-align: justify; */
    font-family: 'Titan One';
    /* width: 30%;
    margin-left: 150px; */
    color: white;
    background-color: #ffca48;
    padding-bottom: .01px;
    padding-top: .01px;
    /* margin-bottom: -20px; */
    /* font-size: 16px; */
}

header h1:nth-of-type(1){
    animation-name: header-animate;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
    animation-delay: .3s;
    left: -4000px;
    word-wrap: break-word;
    /* opacity: 0; */
    margin-left: 3%;
}

header h1:nth-of-type(2){
    animation-name: description-animate;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    position: relative;
    animation-delay: .8s;
    right: -4000px;
    word-wrap: break-word;
    margin-right: 3%;
}

@keyframes header-animate{
    0%{
        left: -4000px;
        /* opacity: 0; */
    }
    100%{
        left: 0px;
        /* opacity: 1; */
    }
}

@keyframes description-animate{
    0%{
        right: -4000px;
    }
    100%{
        right: 0px;
    }
}

body {
    background-image: url('img/steady-hand-co-nI-mPs7X-js-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    width: 95%;
    margin: auto;
    /* max-width: auto; */
    background-color: white;
    /* margin-bottom: 20px; */

    /* ANIMATION */
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-delay: 1s; */
    position: relative;
    bottom: -10px;
    opacity: 0;
    /* background-color: #F7F2E7; */
    /* background-color: #f4f1ec; */

}

@keyframes appear{
    0%{
        opacity: 0;
        bottom: -10px;
    }
    100%{
        opacity: 1;
        bottom: 0px;
    }
}

footer{
    background-color: rgb(192, 0, 0);
    /* width: 83%;
    margin: auto; */
    /* max-width: auto; */
    /* margin-top: 30px; */
    margin-top: -20px;
}

footer p{
    padding: 30px;
    text-align: center;
    font-family: 'Kaushan Script';
    color: white;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;

    /* ANIMATION */
    animation-name: footer-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    position: relative;
    bottom: -4000px;
}

@keyframes footer-up{
    0%{
        bottom: -4000px;
    }
    100%{
        bottom: 0px;
    }
}

.first-word{
    color: rgb(0, 183, 183);
}

#descript-header{
    text-align: right;
    font-size: 16px;
    color: #674A40;
}

#side-content{
    background-color: #F7F2E7;
    word-wrap: break-word;
    text-align: center;
}

.blog-post{
    background-color: rgb(226, 225, 225);
}

.normal{
    font-family: "Baloo 2";
}

.blog-post{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.blog-post img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

a[class = "username"]{
    text-decoration: none;
    color: black;
}

a[class = "username"]:hover{
    text-decoration: underline;
    color: black;
}

a[class = "username"]:visited{
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 768px){
    .wrapper{
        width: 80%;
    }

    main {
        display: grid;
        /* grid-template-columns: 430px 150px; */
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    #main-content{
        /* background-color: white; */
        grid-column: 1;
    }

    #side-content{
        text-align: justify;
        grid-column: 2;
    }

    #side-content h3, #side-content h4{
        margin-left: 3%;
    }

    #side-content p{
        margin-left: 10%;
    }
}