@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

header{
    /* text-align: justify; */
    font-family: 'Titan One';
    /* width: 30%;
    margin-left: 150px; */
    color: white;
    background-color: #ffca48;
    padding-bottom: .01px;
    padding-top: .01px;
    /* margin-bottom: -20px; */
    /* font-size: 16px; */
}

body {
    background-image: url('img/steady-hand-co-nI-mPs7X-js-unsplash.jpg');
    height: 108vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F7F2E7;
}

.wrapper{
    width: 90%;
    margin: auto;
    /* max-width: auto; */
    background-color: white;
    margin-bottom: 20px;
}

footer{
    background-color: rgb(192, 0, 0);
    /* width: 83%;
    margin: auto; */
    /* max-width: auto; */
    margin-top: 30px;
}

footer p{
    padding: 30px;
    text-align: center;
    font-family: 'Kaushan Script';
    color: white;
    font-size: 20px;
    font-weight: bold;

    /* ANIMATION */
    animation-name: footer-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    position: relative;
    bottom: -500px;
}

@keyframes footer-up{
    0%{
        bottom: -500px;
    }
    100%{
        bottom: 0px;
    }
}

.first-word{
    color: rgb(0, 183, 183);
}